/* =========================
   FOOTER
========================= */

.site-footer {
  margin-top: 60px;
  width: 100%;
  /* background: linear-gradient(135deg, #0a5bd7 0%, #083d99 100%); */
  background: var(--primary);
}

.footer-container {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
  color: #ffffff;
}

.footer-main {
  position: relative;
  z-index: 2;
  padding: 80px 40px 65px;

  display: grid;
  grid-template-columns: 2.4fr 1fr;
  gap: 80px;
  align-items: start;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 42px;
}

.footer-column h4 {
  /* color: var(--dark); */
  color: #ffffff;
  text-decoration: underline;
  font-size: 0.95rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  margin-bottom: 26px;
}

.footer-column a {
  position: relative;
  display: block;
  width: fit-content;
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  font-size: 0.95rem;
  margin-bottom: 18px;
  transition: 0.3s ease;
}

.footer-column a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;

  width: 0%;
  height: 2px;

  background: #ffffff;

  transition: width 0.3s ease;
}
.footer-column a:hover {
  color: #ffffff;
}

.footer-column a:hover::after {
  width: 100%;
}

.footer-brand {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.footer-brand img {
  width: 210px;
  margin-bottom: 26px;
}

.footer-socials {
  display: flex;
  gap: 14px;
}

.footer-socials a {
  width: 44px;
  height: 44px;
  border-radius: 50%;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  color: #ffffff;
  text-decoration: none;
  font-weight: 800;

  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.06);
  transition: 0.3s ease;
}

.footer-socials a:hover {
  transform: translateY(-4px);
}

.footer-bottom {
  position: relative;
  z-index: 2;

  padding: 32px 40px;
  border-top: 1px solid #ffffff;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.footer-bottom p {
  color: #ffffff;
}

.footer-bottom-links {
  display: flex;
  gap: 34px;
}

.footer-bottom-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 400;
}

@media (max-width: 1100px) {
  .footer-main {
    grid-template-columns: 1fr;
    gap: 55px;
  }

  .footer-brand {
    align-items: flex-start;
    text-align: left;
  }

  .footer-links {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .footer-main {
    padding: 55px 22px;
  }

  .footer-links {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .footer-bottom {
    padding: 28px 22px;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-bottom-links {
    flex-direction: column;
    gap: 14px;
  }

  .footer-brand img {
    width: 170px;
  }
}
